
<ion-view view-title="{{stateProperties.viewName}}" xmlns="http://www.w3.org/1999/html">
  <ion-nav-buttons side="right">
    <button class="button button-positive icon ion-chevron-left"
            ng-click="backPage();setanswers(questions);saveFile()">{{stateProperties.prevStateName}}
    </button>
    <button class="button button-positive icon-right ion-chevron-right"
            ng-click="changePage();setanswers(questions);saveFile()">{{stateProperties.nextStateName}}
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-item class="studyID">Study ID: {{service.studyNum}}</ion-item>
    <div class="row" ng-repeat="question in questions">
      <div class="col-10 qid">{{question.name}}</div>
      <div class="col-66 qstr">{{question.question}}</div>
      <div class="col-20 qtype" ng-show="question.type=='TYPE_YES_NO'">
        <input class="multi" type="radio" id="{{stateProperties.viewName + 'yes' + $index}}" value="yes"
               ng-model="question.ans"/>
        <label class="multilbl" for="{{stateProperties.viewName + 'yes' + $index}}"
               ng-class="question.ans == 'yes' ? 'selected' : ''">Yes</label>

        <input class="multi" type="radio" id="{{stateProperties.viewName + 'no' + $index}}" value="no"
               ng-model="question.ans"/>
        <label class="multilbl" for="{{stateProperties.viewName + 'no' + $index}}"
               ng-class="question.ans == 'no' ? 'selected' : ''">No</label>

        <input class="multi" type="radio" id="{{stateProperties.viewName + 'unknown' + $index}}" value="unknown"
               ng-model="question.ans"/>
        <label class="multilbl" for="{{stateProperties.viewName + 'unknown' + $index}}"
               ng-class="question.ans == 'unknown' ? 'selected' : ''">Unkn</label>
      </div>
      <div class="col-20 qtype" ng-show="question.type=='TYPE_YES_NO_DEP'">
        <input class="multi" type="radio" id="{{stateProperties.viewName + 'dep-yes' + $index}}" value="yes"
               ng-model="question.ans" ng-disabled="questions[$index - 1].ans != 'yes'"/>
        <label class="multilbl" for="{{stateProperties.viewName + 'dep-yes' + $index}}"
               ng-class="question.ans == 'yes' ? 'selected' : ''">Yes</label>

        <input class="multi" type="radio" id="{{stateProperties.viewName + 'dep-no' + $index}}" value="no"
               ng-model="question.ans" ng-disabled="questions[$index - 1].ans != 'yes'"/>
        <label class="multilbl" for="{{stateProperties.viewName + 'dep-no' + $index}}"
               ng-class="question.ans == 'no' ? 'selected' : ''">No</label>

        <input class="multi" type="radio" id="{{stateProperties.viewName + 'dep-unknown' + $index}}"
               value="unknown"
               ng-model="question.ans" ng-disabled="questions[$index - 1].ans != 'yes'"/>
        <label class="multilbl" for="{{stateProperties.viewName + 'dep-unknown' + $index}}"
               ng-class="question.ans == 'unknown' ? 'selected' : ''">Unkn</label>
      </div>
      <div class="col-20 qtype" ng-show="question.type=='TYPE_TEXT'">
        <input placeholder="Enter value" type="text" ng-model="question.ans"/>
      </div>
      <div class="col-20 qtype" ng-show="question.type=='TYPE_CHOICE'">
        <input type="radio" id="{{stateProperties.viewName + 'rb0-' + $index}}" value="0"
               ng-model="question.ans">
        <label for="{{stateProperties.viewName + 'rb0-' + $index}}">0</label>
        <input type="radio" id="{{stateProperties.viewName + 'rb1-' + $index}}" value="1"
               ng-model="question.ans">
        <label for="{{stateProperties.viewName + 'rb1-' + $index}}">1</label>
        <input type="radio" id="{{stateProperties.viewName + 'rb2-' + $index}}" value="2"
               ng-model="question.ans">
        <label for="{{stateProperties.viewName + 'rb2-' + $index}}">2</label>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="col-20">
        <button class="button button-positive icon-right ion-ios-download"
                ng-click="setanswers(questions);saveFile()">SAVE
        </button>
      </div>
    </div>
    <br>


  </ion-content>
</ion-view>



